.with{
  width: 18px;
}


.debug{
  border: 2px solid red;
}

.nav_tab{
display: flex;
align-items: center;
justify-content: space-between;
}


.nav_tab img{
  width: 4rem;
  height: 4rem;
}

.fruit_container{

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

}


.fruit_container img{
  display: block;
  margin: auto;
}


.fruit_name{
  text-align: center;
}

.fruit_container_inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;

}

.fruit_container button {
  font-size: 12px;
  text-align: center;
  display: block;
  margin: auto;
}

.bnt_div{
  display: flex;
  justify-content: center;
}